h1{
    text-align: center;
}

p{
    text-align: justify;
    font-size:x-large;
}
ul li{
    font-size: x-large;
}

.main{
    margin:100px;
}

.bt
{
    size: 50px;
    display: grid;
    place-items: center;
}

img{
    display: block;
    margin: auto;
}

h1{
    background-color: aqua;
}
a{
    font-size: large;
    padding: 20px;
    border: 10px;
    text-decoration:none ;
    display: flex;
}
button{
    background-color: aqua;
}
.images{
    display:flex;
}

@media (max-width:600px){
    .main{
        display:grid;
        grid-template-columns:auto;
    }
    img{
        display:grid;
        grid-template-columns:auto;
        margin:auto;
    }
}
