#heros_library{
    display:grid;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
    padding: 50px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid bisque;
    box-shadow: 10px 10px burlywood;
    border-radius: 10px;
}
.hero img{
    height: 200px;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.2);
}

.hero button{
    background-color: blue;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease-in;
}
button:hover{
    transform: scale(1.3);
    background-color: #17ccd9;
}
.hero a{
    text-decoration: none;
    color: aliceblue;
}
h1{
    text-align: center;
    
}
*/*{
    background: radial-gradient(circle , rgb(128, 0, 77), rgb(0, 255, 195));
}
*/
h2{
    font-style: italic;
}