*{
    background-color: rgb(217, 177, 209);
}
div{
    padding: 50px;
    text-align: center;
    border: 5px inset brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
